*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven build folder
/target

# Personal folder for reference material and links
/proces

# Release folder
/release

# IDEA
.idea
ftl-adventure-visualiser.iml
GraphRendererStandalone/build-tmp
nl.nielspoldervaart.ftlav.plist

# Processing
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
ftlav-log.txt
